body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 100px 0;
}

h2 {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

h3 {
    font-style: italic;
    font-size: 42px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h4 {
    font-size: 25px;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}


/* =============================== header =============================== */

.main-header {
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;
}

.main-header .navbar-toggler {
    color: #fff;
}

.main-header ul li a {
    color: #fff;
    font-size: 17px;
}

.main-header ul li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.main-header ul li a:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.main-header-text {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 600px;
    color: #fff;
    padding: 20px;
}

.main-header-buttons {
    padding-left: 30px;
    margin-top: 70px;
}

.main-header-buttons .btn {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    opacity: .8;
    box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.main-header-buttons .btn:hover {
    color: #fff;
    opacity: 1;
}

.btn-pink {
    background: #f42267;
}

.btn-violet {
    background: #5f3fb8;
}

#navbarSupportedContent li.nav-item {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}


/* =============================== header end =============================== */


/* =============================== about =============================== */

.section {
    padding: 70px 0;
}

.section-tabs h2,
.section-tabs h3 {
    color: #484848;
}

.section-tabs .nav-link {
    color: #484848;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #f42267;
    color: #fff;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    padding: 10px 17px;
    box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
}

.section-tabs .tab-content {
    margin-top: 30px;
}

.section-tabs .tab-content {
    color: #1d1d1d;
    font-size: 14px;
}

.btn-shadow {
    color: #fff;
    box-shadow: 0 8px 0 #ff5990;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 25px;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}

.btn-shadow:hover {
    color: #fff;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
    box-shadow: 0 4px 0 #ff5990;
}


/* =============================== section about end =============================== */


/* =============================== section progress =============================== */

.section-progress {
    padding: 0;
    min-height: 300px;
    background: #4b2d7f;
    color: #fff;
}

.section-progress .progress-item:hover {
    background-color: #281d3c;
}

.section-progress .progress-item {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.section-progress .progress-item .num {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

.section-progress .progress-item h4 {
    font-size: 21px;
    font-weight: 600;
}

.section-progress .progress-item span {
    font-size: 25px;
}

.section-progress .progress-item p {
    margin-top: 30px;
    font-size: 15px;
    color: #d9d9d9;
}


/* =============================== section progress end =============================== */


/* =============================== section lets =============================== */

.section-lets {
    background: url(../img/2-layers.png) center no-repeat;
    background-size: cover;
    color: #fff;
}

/* =============================== section lets end =============================== */



/* =============================== section design =============================== */
.section-design h4 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    color: #484848;
}
.section-design p {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 500;
}
.section-design .carts p {
    font-size: 14px;
}
.section-design .embed-responsive {
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 560px;
    height: 460px;
    margin-left: 30px;
}
.section-design #videoPlayBtn {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: url(../img/play.png) center no-repeat;
}

/* =============================== section design end =============================== */



/* =============================== section design =============================== */
.section-work {
    background-color: #f6f6f6;
    padding-top: 70px;
    padding-bottom: 50px;
}

.section-work .gallery .gallery-item {
    margin-bottom: 20px;
}

.section-work .gallery .gallery-item img{
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.section-work .gallery .gallery-item img:hover{
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}


ul#myTab-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.section-work .our-work-btn {
    text-align: center;
    padding-top: 10px;
}
/* =============================== section design end =============================== */


/* =============================== section review =============================== */

.section-reviews {
    background: linear-gradient(rgba(249, 249, 249, 0.6), rgba(83, 82, 82, 0.6)), url(../img/review-bg3.jpg) center no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 90px;
    text-align: center;
}

.section-reviews .carousel-item img {
    border-radius: 50%;
    width: 360px;
    height: 360px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section-reviews .carousel-caption {
    background: #0000002e;
    border-radius: 5px;
    height: 320px;
}

.section-reviews .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px;
}

.section-reviews footer.blockquote-footer {
    color: #fff;
}

/* =============================== section reviews end =============================== */

.btn-violet {
    font-weight: normal;
}.btn-violet:hover {
    color: #ffffff;
    background: #865bd2;
    text-decoration: none;
}

/* =============================== section form =============================== */
section.section-form {
    padding-top: 70px;
    padding-bottom: 70px;
    background: rgb(200,14,75);
    background: linear-gradient(36deg, rgba(200,14,75,1) 0%, rgba(244,34,103,1) 58%, rgba(255,255,255,1) 100%);
    color: #fff;
}

section.section-form h2 {
    margin: 0;
}
section.section-form h5 {
    font-size: 27px;
    font-style: italic;
    margin-bottom: 20px;
}
section.section-form form {
    margin-top: 40px;
}
section.section-form .form-control {
    background-color: rgba(255, 255, 255, 0.35);
    color: #fff;
    border: none;
}
section.section-form .form-control::placeholder {
    color: #fff;
}

section.section-form  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 82, 0.55);
}


/* =============================== section form end =============================== */




/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .section-design .embed-responsive { 
        margin-left: auto;
        margin-right: auto;
    }
    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }
    .section {
        padding: 40px 0;
    }
    .section-progress {
        padding: 0;
    }

    .section-reviews .carousel-caption {
        padding: 8px;
        padding-top: 70px;
    }
    .section-reviews .carousel-caption h3 {
        font-size: 34px;
    }
    .section-reviews .carousel-caption p {
        font-size: 18px;
    }
    .section-reviews .carousel-item img {
        width: 280px;
        height: 280px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        background: linear-gradient(45deg, rgba(213, 24, 44, 1) 0%, rgba(43, 30, 86, 1) 100%);
        position: relative;
        z-index: 999;
        padding: 0 15px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .main-header-text {
        left: 0;
        margin: 0 20px;
        max-width: 100%;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 30px;
    }
    .navbar-brand {
        width: 50%;
    }
    .navbar-brand img {
        max-width: 60%;
    }
    .section-progress .progress-item {
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-progress .progress-item h4 {
        font-size: 18px;
    }
    .section-progress .progress-item span {
        font-size: 22px;
    }
    .section-progress .progress-item .num {
        font-size: 38px;
    }
    .section-reviews .carousel-item img {
        width: 220px;
        height: 220px;
    }
    .section-reviews .carousel-caption {
        padding: 20px;
        top: 0;
    }
    section.section-form h5 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .main-header-text {
        top: 90px;
    }
    .main-header-buttons {
        padding-left: 0;
    }
    .main-header-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    .section h3 {
        font-size: 23px;
    }
    .section h2 {
        font-size: 24px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 380px) {
    .main-header .navbar-brand {
        font-size: 30px;
    }
    .section-tabs .nav-pills .nav-item {
        width: 100%;
    }
}