body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 100px 0;
}

h2 {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

h3 {
    font-style: italic;
    font-size: 42px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

/* =============================== header =============================== */ 
.main-header {
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;
}
.main-header .navbar-toggler {
    color: #fff;
}
.main-header ul li a {
    color: #fff;
    font-size: 17px;
}
.main-header ul li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.main-header ul li a:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.main-header-text {
     position: absolute;
     top: 25%;
     left: 5%;
     max-width: 600px;
     color: #fff;
     padding: 20px;
}
.main-header-buttons {
    padding-left: 30px;
    margin-top: 70px;
}
.main-header-buttons .btn {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    opacity: .8;
    box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.main-header-buttons .btn:hover {
    color: #fff;
    opacity: 1;
}
.btn-pink {
    background: #f42267;
}
.main-header-buttons .btn-violet {
    background: #5f3fb8;
}

#navbarSupportedContent li.nav-item {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
/* =============================== header end =============================== */ 


/* =============================== about =============================== */ 

.section {
    padding: 70px 0;
}

.section-about h2, .section-about h3 {
    color: #484848;
}

.section-about .nav-link {
    color: #484848;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-about .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #f42267;
    color: #fff;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
    padding: 10px 17px;
    box-shadow: 1px 4px 16px rgba(1, 2, 2, 0.35);
}

.section-about .tab-content {
    margin-top: 30px;
}

.section-about .tab-content {
    color: #1d1d1d;
    font-size: 14px;
}

.btn-shadow {
    color: #fff;
    box-shadow: 0 8px 0 #ff5990;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 25px;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}

.btn-shadow:hover {
    color: #fff;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
    box-shadow: 0 4px 0 #ff5990;
}


/* =============================== about end =============================== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .main-header-text {
        background-color: rgba(0,0,0, .3);
    }
    .section {
        padding: 30px 0;
    }

}
@media only screen and (max-width: 991px) {
    .navbar-nav {
        background: linear-gradient(45deg, rgba(213,24,44,1) 0%, rgba(43,30,86,1) 100%);
        position: relative;
        z-index: 999;
        padding: 0 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .main-header-text {
        left: 0;
        margin: 0 20px;
        max-width: 100%;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 30px;
    }  
    .navbar-brand {
        width: 50%;
    } 
    .navbar-brand img {
        max-width: 60%;
    }
}
@media only screen and (max-width: 600px) {
    .main-header-text {
        top: 90px;
    }
    .main-header-buttons {
        padding-left: 0;
    }
    .main-header-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .section h3 {
        font-size: 23px;
    }
    .section h2 {
        font-size: 24px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    
}

@media only screen and (max-width: 380px) {
    .main-header .navbar-brand {
        font-size: 30px;
    }

    .section-about .nav-pills .nav-item {
        width: 100%;
    }
}